$standedSpace: 16px;
$fontStyle: $standedSpace sans-serif;
$maxWidth: 1200px;

$prymaryColor: #6183DD;
$secondaryColor: #333333;
$tertiaryColor: #fff;
$lightGray: #e2dede;

$shadow: 0 5px 15px 0 #00000026;
$backdrop: rgba(0, 0, 0, 0.3);


*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font: $fontStyle;
    color: $secondaryColor;
}

button{
    font: $fontStyle;  
    padding: $standedSpace;
    background-color: $prymaryColor;
    color: $tertiaryColor;
    border: none;
    width: 100%;

    &:hover{
        background-color: $tertiaryColor;
        color: $prymaryColor;
        border: 1px solid $prymaryColor;
    }
}

input{
    font:$fontStyle;
    font-size: $standedSpace;
    padding: $standedSpace;
    background: $lightGray;
    border: none;
}

nav{
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .nav-container{
        max-width: $maxWidth;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img{
            height: 50px;
            width: 180px;
        }

        button{
            max-width: 180px;
        }

    }
}

.input-section{
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    form{
        max-width: $maxWidth;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1{
            font-size: 2*$standedSpace;
            margin: $standedSpace;
        }

        .form-inputs{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: $standedSpace;
            width: 100%;

        }
        .products-inputs{
            display: grid;
            grid-template-columns: 2fr 1fr 1fr;
            grid-gap: $standedSpace;
            width: 100%; 
        }
    }
}

.products-section{
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .products-container{
        max-width: $maxWidth;
        width: 100%;
        height: 100%;
        display: grid;
        grid-gap: $standedSpace;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .card{
            padding: $standedSpace;
            box-shadow: $shadow;
            min-height: 280px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;

            button{
                position: absolute;
                bottom: 0;
                width: 60%;
            }

            h2{
                font-size: $standedSpace;
            }

            h1{
                font-size: 3*$standedSpace;
            }

            .card-info{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: $standedSpace;
                margin-top: 2*$standedSpace;

                .card-info-details:last-child{
                    text-align: right;
                }
            }
        }
    }
}

.backdrop{
    width: 100vw;
    height: 100vh;
    background: $backdrop;
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .close-modal{
        position: fixed;
        max-width: 600px;
        bottom: 5px;
    }

    .modal{
        background: $tertiaryColor;
        max-width: 500px;
        width: 100%;
        min-height: 50vh;
        padding: 3*$standedSpace;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1{
            margin-bottom: $standedSpace;
        }

        form{
            display: flex;
            flex-direction: column;
            width: 100%;

            input{
                margin: $standedSpace 0;
            }

            button{
                margin: $standedSpace 0;
            }

            a{
                text-decoration: none;
                color: $secondaryColor;
                &:hover{
                    color: $prymaryColor;
                }
            }
        }
    }
}
